---
import { getCollection, render } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Meta from "@/components/Meta";
import MarkdownContentWrapper from "@/components/MarkdownContentWrapper.astro";
import { StyledText } from "@/components/StyledText";
import config from "@/_site-config.json";

import type { GetStaticPaths } from "astro";

// Destructure needed values
const { useBlog } = config.general.blog;

// Prevent manually visiting the path if option set to false
if (!useBlog) {
  return Astro.redirect("/404");
}

// Get static paths
export const getStaticPaths = (async () => {
  return (await getCollection("writings")).map((page) => ({
    params: {
      blogPost: `${config.general.blog.blogPath}/${page.id}`,
    },
    props: {
      page,
    },
  }));
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout pageTitle={page.data.title}>
  <main class="layout-base justify-items-center py-8">
    <MarkdownContentWrapper>
      <Fragment slot="heading">
        <StyledText as="h2" variant="displayLG">
          {page.data.title}
        </StyledText>
        <Meta tags={page.data.tags} linked />
      </Fragment>
      <Content slot="content" />
    </MarkdownContentWrapper>
  </main>
</BaseLayout>
